body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    max-width: 600px; /* Збільшимо ширину для розміщення малюнків горизонтально */
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container {
    display: flex; /* Встановлюємо Flexbox */
    justify-content: space-around; /* Простір між елементами */
    align-items: center; /* Вирівнюємо по вертикалі */
    margin-bottom: 20px; /* Відступ між малюнками та кнопкою */
}

label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="radio"] {
    display: none;
}

label img {
    border: 2px solid transparent;
    transition: transform 0.3s, border-color 0.3s;
    width: 100px; /* Фіксований розмір зображень */
    height: auto;
}

input[type="radio"]:checked + img {
    border-color: #4440c0;
    transform: scale(1.1);
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4440c0 ;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

button:hover {
    background-color: #343299  ;
}

p {
    text-align: center;
    font-size: 18px;
    color: #333;
}

a {
    color: #333;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

a:hover {
    text-decoration: underline;
}
